.wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    //border: 1px solid #73AD21;
}

table {
    width: 100%;
    border: 1px solid rgba(0,0,0,.12);
}

.mat-column-select {
    overflow: initial;
}

.mat-form-field {
    width: 100%;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 20px 0;

    &__title {
        margin-right: 40%;
    }
}

.actions {
    max-width: 68px;
}

.actions button {
    padding: 0;
}
