<div class="wrapper">

  <!-- Заголовок страницы -->
  <div class="header">
    <h1 class="header__title">Список смен</h1>
    <!-- Кнопка для добавления смены -->
    <button mat-button (click)="addShift()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <!-- Таблица со списком смен -->
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> ФИО </th>
      <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef> Начало </th>
      <td mat-cell *matCellDef="let element"> {{ formatDate(element.start) }} </td>
    </ng-container>
  
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef> Окончание </th>
      <td mat-cell *matCellDef="let element"> {{ formatDate(element.end) }} </td>
    </ng-container>
  
    <ng-container matColumnDef="craneCount">
      <th mat-header-cell *matHeaderCellDef> Тип крана </th>
      <td mat-cell *matCellDef="let element"> {{element.craneCount === 1 ? 'Одинарный' : 'Двойной'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="cranes">
      <th mat-header-cell *matHeaderCellDef> Погруженно тонн </th>
      <td mat-cell *matCellDef="let element"> {{ getTotalLoaded(element.cranes)}} </td>
    </ng-container>

    <!-- Столбец для кнопок редактирования и удаления -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" class="actions">
        <button mat-button (click)="editShift(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button (click)="deleteShift(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

